@tailwind base;
@tailwind components;
@tailwind utilities;

.component {
  @apply px-[6vw] md:px-0 md:max-w-[720px] lg:max-w-[820px] md:mx-auto;
}

.icon {
  @apply h-[22px] w-[22px];
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
